.project__cards{
  box-sizing: border-box;
  padding:0 5%;
  display: grid;
  gap: 40px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .project__cards{
    gap: 64px;
    margin-bottom: 64px;
  }
}