.speсial__link {
  color: #2D8BF1;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}


.speсial__link:hover{
  color: #106CD1;
  cursor: url(../../../images/Cursor\ –\ Hand.svg), pointer;
}

.speсial__link:active {
  color: #0C5FBA;
}

@media screen and (max-width: 1312px) {
  .speсial__link{
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 767px) {
  .speсial__link{
    font-size: 18px;
    line-height: 26px;
  }
}