

.magazine  .links {
  display: flex;
}

@media screen and (max-width: 1100px) {
  .magazine  .links {
    display: none;
  }
  
}


.magazine {
  margin-top: 180px;
}

@media screen and (max-width: 900px) {
 .magazine{
    margin-top: 128px;
  }
  
}