.lead__container_ver_yellow-black {
  color: #201E33;
}

.lead__container_ver_yellow-black .lead__button_v_more{
  background-color: #201E33;
  color:white;
}

.lead__container_ver_yellow-black .lead__button_v_more:hover{
  background-color: #313041;
  color: white;
}

.lead__container_ver_yellow-black .lead__button_v_more:active{
  background-color: #F9F9F9;
  color:black;
} 