.article {
  margin: 80px auto 32px;
  max-width: 1312px;
  width: 90%;
  border-bottom: 1px solid #B5B8CD;
  padding-bottom: 32px;
}


@media screen and (max-width:600px) {
  .article {
    margin: 64px auto 32px;
  }
}