.header__search{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: black;
  stroke: black;
  transition: all 0.2s ease-in-out;
 text-align: center;
} 

.header__search:hover {
  cursor: url(../../../images/Cursor\ –\ Hand.svg), pointer;
  color: #106CD1;
}
 
.header__search:active {
  color: #0C5FBA;
}
