.lead__description {
  text-align: end;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}

@media screen and (max-width: 1312px) {
  .lead__description{
    font-size: 56px;
    line-height: 56px;
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  .lead__description{
    font-size: 34px;
    line-height: 48px;
  }
}

