.header_ver_desktop {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:  auto 1fr auto;
    width: 90%;
    height: 100%;
    margin: auto;
}

@media screen and (max-width: 1440px) {
  .header_ver_desktop .header__links{
    justify-self: flex-end;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1240px) {
  .header_ver_desktop .header__links{
    margin-right: 24px;
  }
}


@media screen and (max-width: 960px) {
    .header_ver_desktop {
      display: none;
    }
  }

