.lead {
  margin: 93px auto 0;
  display: flex;
  width: 100%;
}

.lead:hover .slider__control  {
  visibility: visible;
}

.lead_slider {
  grid-row: 1;
  grid-column: 1;
  margin: auto;
  width: 100%;
}


@media screen and (max-width: 1312px) {
  .lead {
    margin: 80px auto 0;
  }
}