.header__nav{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0 ;
}

@media screen and (max-width: 1240px) {
  .header__nav{
    column-gap: 24px;
  }
  .header__nav-spetial-project {
    column-gap: 12px;
  }

}

@media screen and (max-width: 1023px) {
  .header__nav{
    column-gap: 12px;
  }

  .header__nav-spetial-project {
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  
  }

}
  
