.header__nav{
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    list-style: none;
    padding: 0;
    margin: 40px 0 ;
}

@media screen and (max-width: 1240px) {
  .header__nav{
    column-gap: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .header__nav{
    column-gap: 12px;
  }
}
  
