.header {
  
  max-width: 1440px;
  min-width: 320px;

  box-shadow: 0 0.96px 2.06px rgba(131, 139, 163, 0.06), 
              0 2.35px 5.21px rgba(131, 139, 163, 0.07), 
              0 4.78px 10.63px rgba(131, 139, 163, 0.07),
              0 9.86px 21.9px rgba(131, 139, 163, 0.07),
              0 27px 60px rgba(131, 139, 163, 0.07);
}

.header-wr {
  max-width: 1440px;
  min-width: 320px;
  padding: 40px 20px 80px;
  overflow: hidden;
  margin: auto;
}

.main_header {
  padding: 0;
}