.header__nav-element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  position: relative;
  padding: 10px 0;
  clip-path: inset( -100vw 0 -100vw -100vw );

}
