.lead__title_ver_link {
  display: flex;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
  margin: 0 auto;
  justify-content: center;
}

.lead__title_ver_link p {
  align-self: center;
  justify-self: center;
}

.lead__title_ver_link a {
  margin: 0;
  color: white;
  transition: all 0.5s ease;
}

.lead__title_ver_link a:hover {
  text-decoration: none;
  color: #201E33;
}

@media screen and (max-width: 1240px) {
 .lead__title_ver_link {
  font-size: 21px;
  line-height: 36px;
  row-gap: 8px;
  column-gap: 8px;
  margin-bottom: 8px;
 }
}