.header__search-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  visibility: hidden;
  opacity: 0;
  height: 0;
  align-items: center;
  transition: all 0.3s ease-in;
}


/*стили для открытия и закрытия дополнительных меню*/

.navBar {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s ease-in;
}

.header_bar_open {
  visibility: visible;
  opacity: 1;
  height: 95px;
}



