.publication__header-container {
/*  background: rgba(22, 120, 226, 30%);*/
  padding: 5%;
  max-width: 1440px;
  height: 100%;
  align-self: center;
  margin: auto;
  position: relative;
}

.publication__header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(22, 120, 226, 30%);
  top: 0;
  left: 0;
} 