.lead__button_v_more {
  height: 44px;
  width: 194px;
  text-align: center;
  background-color: #F9F9F9;
  color: black;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: auto;
 
}

.lead__button_v_more:hover{
  background-color: #313041;
}

.lead__button_v_more:active{
  background-color: #201E33;
}