.lead__buttons-block {
  display: flex;
  flex-direction: row;
  margin: 42px auto 0;
  justify-content: center;
  width: 90%;

}


@media screen and (max-width: 1023px) {
  .lead__buttons-block{
    flex-direction: column-reverse;
    padding-right: 0;
    margin-top: 24px;
  }
}

