.lead__button_color_white {
  background-color: #F9F9F9;
  color: black;
}

.lead__button_color_white:hover{
  background-color: #313041;
}

.lead__button_color_white:active{
  background-color: #201E33;
}