
.publication__footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;

  flex-wrap: wrap;

  box-shadow: 0 5.87261px 19.8268px rgba(53, 54, 72, 0.220356),  
              0 2.52577px 8.52737px rgba(53, 54, 72, 0.165455);

}



