.form__label {
  color: #6990BA;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
	left: 5px;
	top: 10px;
  transition: all 0.2s ease;
}

.form__input-group {
  position: relative; 
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form input:focus ~ .form__label,
.form input.used ~ .form__label {
	top: -20px;
  transform: scale(.75);
  left: -4px;
	color: #e300c5;
}