.form__label {
  color: #6990BA;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
	left: 5px;
	top: 10px;
  transition: all 0.2s ease;
  width: 226px;
}


.form__label_active {
	top: -10px;
  left: -24px;
  transform: scale(.75);
  
	color: #6990BA;
}

