.project {
  position: relative;
  background-color: #fff;
}



@media screen and (max-width: 1023px) {
  .project {
    background-color: #F0F0F4;
  }
  
  .project .links {
    margin: 0;
  }

  .project .section__title {
    margin: 64px 0 36px 0;
  }
}