.header__nav-login {
  height: 100%;
  align-items: center;
  background-color: #fff;
  position: absolute;
  right: -1200px;
  opacity: 0;
  padding-left: 320px !important;
  height: 60px;
}

.header__nav-login .header__link {
  line-height: 24px;
}

 .header__nav-element:hover .header__nav-login {
  right: 20px;
  opacity: 1;
  transition: all 0.5s ease-out;
 }


 .header__nav-login span {
  padding-right: 4px;
  font-size: 18px;
 }

 @media screen and (min-width: 1690px) {
  .header__nav-login{
    padding-left: 900px !important;
  }
}

 @media screen and (max-width: 1330px) {
  .header__nav-login{
    padding-left: 100px !important;
  }
}