
.header__mobile-social-item {
  margin-right: 32px;
  fill:#FFFFFF; 
}

.header__mobile-social-item:last-of-type {
  margin-right: 0;
}

.header__mobile-social-item:hover {
  cursor: url(../../../image/Cursor\ –\ Hand.svg), pointer;
  fill: #5A6FDD;
}

.header__mobile-social-item:active {
  cursor: url(../../../image/Cursor\ –\ Hand.svg), pointer;
  fill: #5265CB;
}