.section__pagination i {
  font-size: 27px;
  color: #106CD1;
}

.section__pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.section__pagination-item {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 28px;
  color: #201E33;
  text-align: center;
  margin: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.section__pagination-item:hover {
  color: #106CD1;
  cursor: url(../../../images/Cursor\ –\ Hand.svg), pointer;
}

.section__pagination-item_v_active {
  font-weight: 700;
  color: #0C5FBA;
}

.section__pagination-filler {
  display: none;
}

@media screen and (max-width: 900px) {
  .section__pagination-item:nth-of-type(4) {
    display: none;
  }
  .section__pagination-item:nth-of-type(5) {
    display: none;
  }
  .section__pagination-item:nth-of-type(6) {
    display: none;
  }
  
  .section__pagination-item:nth-of-type(7) {
    display: none;
  }

  .section__pagination-filler {
    display: block;
  }
}