.card_v_interview-cards {
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 112px min-content 1fr 52px;
  justify-items: center;
  grid-template-areas: 
                      'info  info      photo'
                      'title title     photo'
                      'text  text      photo'
                      '.     buttonbox photo';
  background-color: #F0F0F4;
  overflow: hidden;

  box-sizing: border-box;
}

.card_v_interview-cards:hover img {
  opacity: 0.9;
}

.card_v_interview-cards .card__info {
  width: 80%;
}

.card_v_interview-cards .card__text {
  width: 80%;
}

.card_v_interview-cards .card__title {
  width: 80%;
}

@media screen and (max-width: 1240px) {
  .card_v_interview-cards {
    grid-template-areas: 
                        'info  info'
                        'photo photo'
                        'title title'
                        'text  text'
                        'buttonbox pagination';
    grid-template-columns: 1fr ;
    grid-template-rows: 96px min-content min-content min-content;
    background-color: #201E33;
    padding-bottom: 30px;
  }
  .card_v_interview-cards .card__info {
    width: 100%;
  }
  
  .card_v_interview-cards .card__text {
    width: 100%;
    color: #F6F6F7;
    max-height: 490px;
    overflow: hidden;
  }
  
  .card_v_interview-cards .card__title {
    width: 100%;
    color: #F6F6F7
  }

  .interviews_slider .slider__control {
    top: 35%;
    opacity: 0.5;
  }



}
